/* .bg {
  background-image: url('./images/italian-food.jpeg');
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */


.app {
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('./images/indulge-restaurant.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}

.card-login {
  background: whitesmoke;
  width: 40%;
  /* height: 20%; */
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 2%;
  box-shadow: 10px 10px;
}




.auto-complete {
  width: 100%;
  height: 40px;
  padding-left: 16;
  margin-top: 2;
  margin-bottom: '2rem';
}

.descriptions {
  padding: '1rem';
  margin: '0 auto';
  max-width: 1000;

}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
  color: black;
}


.main-wrapper {
  height: 60vh;
  margin: 10px 50px;
  filter: drop-shadow(-1px 5px 3px #ccc);
}
.info-wrapper {
  margin-top: 15px;
}
.map-details {
  text-align: center;
  font-size: 1.2em;
}
.map-details span {
  font-weight: bold;
}
.search-input {
  font-size: 1.2em;
  width: 80%;
}

/* .go-right {
  justify-content: flex-end;
} */
