.rowC{
    display:flex; 
    flex-direction:row;
}

.bg {
    /* background-image: url('./images/italian-food.jpeg');
    height: 50vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 50%; */
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('./images/indulge-restaurant.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* object-fit: contain; */
    /* bottom: 0; */
}

body, html {
    /* height: 100%; */
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

.ad {
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('./images/Zest-Cafe-copy.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.app {
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('./images/italian-food.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hm-card {
    background: whitesmoke;
    width: 40%;
    /* height: 50%; */
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    padding: 2%;
    box-shadow: 10px 10px;
    justify-content: center;
}


.card {
    background: whitesmoke;
    width: 40%;
    /* height: 60%; */
    /* width: auto; */
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    padding: 2%;
    box-shadow: 10px 10px;
    /* justify-content: center; */
}

ul {
    list-style-type: none;
}

/* .submitBtn{


    height: 2rem;
    color: red;
    border: 0;
    bottom: 0;




} */

.submitBtn{
    display: inline-block;
    width: 50%;
    cursor: pointer;
    font-size: 20px;
    /* position:absolute; */

    margin: 0 0 2rem 0;
    border-radius: 20px 20px 20px 20px; 
}

/* .submitBtn{
    margin: 1rem 0 1rem 8rem;
    margin-left: 52%;   
    border-radius: 0 20px 20px 0; 
} */

.submitBtn:hover{
    background-color: rgb(179, 200, 212);
    transition: 1s background ease;
}

.list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
/* .heading {
    display: flex;
    align-items: center;
    height: 582px;
    font-family: 'Spartan', sans-serif;
} */

/* .list {
    text-align: left;
    max-width: 750px;
    margin: left;
}

.submit-form {
    max-width: 300px;
    margin: auto;
}


.edit-form {
    max-width: 300px;
    margin: auto;
} */

