.rowC{
    display:flex; 
    flex-direction:row;
}

.bg {
    /* background-image: url('./images/italian-food.jpeg');
    height: 50vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 50%; */
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('./images/indulge-restaurant.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body, html {
    /* height: 100%; */
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

.app {
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('./images/italian-food.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    background: whitesmoke;
    width: 40%;
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    padding: 2%;
    box-shadow: 10px 10px;
}
/* .heading {
    display: flex;
    align-items: center;
    height: 582px;
    font-family: 'Spartan', sans-serif;
} */